$smartphone: 480px;
$smartphone300: 320px;
$tabletPortrait: 767px;
$tabletLandscape: 1024px;
$desktop: 1174px;
$largeScreen: 1400px;

@mixin respondTo($media) {
  @if $media == smartphone {
    @media (max-width: $smartphone) { @content; }
  }
  @else if $media == smartphone300 {
    @media (max-width: $smartphone300) { @content; }
  }
  @else if $media == tablet {
    @media (min-width: $tabletPortrait) and (max-width: $tabletLandscape) { @content; }
  }
  @else if $media == smallScreen {
    @media (max-width: $desktop) { @content; }
  }
  @else if $media == desktop {
    @media (min-width: $desktop) { @content; }
  }
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}

@mixin opacity($opacity) {
  opacity: $opacity;
  $opacity-ie: $opacity * 100;
  filter: alpha(opacity=$opacity-ie); //IE8
}

$color-grey:#f2f0f1;
$color-grey-light:#e6e5e6;
$color-grey-strong:#9d9d9d;
$color-red:#bc3539;
$color-red-strong:#bb3739;
$color-white:#ffffff;
$color-fosce-black:#272727;

$font-medium:1.063em; // 17px
$font-small:0.750em; // 12px
$font-min-small:0.625em; // 10px
$font-large: 2.188em; // 35px
